* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 1100px;
    margin: 0 auto;
}


.btn {
    /* background-color: rgb(33, 33, 206); */
    color: white;
    border: none;
    padding: 10px 20px;
}


/* nav */

.navbar {
    border-bottom: 3px solid #008ed6;
    background-color: rgba(57, 57, 56, 0.8);
}


/* header */

header{
    height: 600px;
    background-image: url('./img/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,.3);
    position: absolute;
}
.header_content{
    display: flex;
    justify-content: space-evenly;
    align-items: center !important;
}


.card h2{
    color: white;
}


#explore{
    height: 400px;
    background-color: gray;
}

.explore_content,.create_content,.share_content{
    height: 400px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}



.img1{
    height: 300px;
    background-image: url('./img/explore-section1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 50%;

}
.img2{
    height: 300px;
    background-image: url('./img/create-section1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 50%;

}
.img3{
    height: 300px;
    background-image: url('./img/share-section1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 50%;

}

#create,#share{
    background-color: rgba(38, 38, 197, 0.849);
    color: white;
}